node_modules/
dist/
.idea/
.DS_Store
config/secrets.yaml
config/secrets/

# Gradle / Kotlin
.gradle/
build/
out/

tylers-code/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Environment files
.env
.env.local
.env*.local
